<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form th:action="@{/player/login}" th:object="${playerLoginForm}" method="post">
        <label>Email:</label>
        <input type="text" th:field="*{email}" /><br/>

        <label>Password:</label>
        <input type="password" th:field="*{password}" /><br/>

        <div th:if="${loginError}">
            <p th:text="${loginError}" style="color: red;"></p>
        </div>

        <div th:if="${loginSuccess}">
            <p th:text="${loginSuccess}" style="color: green;"></p>
        </div>

        <button type="submit">Login</button>
    </form>
</body>
</html>